#myLabel1{
    display: block;
    text-align: center;
    font-size: 15em;
    font-family: Arial, Helvetica, sans-serif;
}

#btn{
  
    text-align: center;
   
}

.buttons{
    padding: 10px 20px;
    font-size: 2em;
    color : white;
    background-color: rgb(123, 172, 247);
    border-radius: 5px  ;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color:rgb(16, 107, 245);
}